[color]
	diff = auto
	interactive = auto
	status = auto
	ui = auto

[core]
	editor = hx

[include]
	path = ~/.gitconfig.local

[user]
	name = Jarkko Sakkinen
	email = jarkko.sakkinen@iki.fi

[credential]
	helper = cache --timeout=3600

[pager]
	stash = false
	grep = false
	branch = false

[pull]
	rebase = true

[merge]
	conflictstyle = diff3

[branch]
	autosetuprebase = always

[diff]
	ignoreSubmodules = dirty
[sendemail]
	smtpserver = /usr/bin/msmtp
