[color]
	diff = auto
	interactive = auto
	status = auto
	ui = auto

[core]
	editor = nvim

[include]
	path = ~/.gitconfig.local

[merge]
	conflictstyle = diff3

[pager]
	stash = false

[user]
	name = Jarkko Sakkinen
[credential]
	helper = cache --timeout=3600
[pull]
	rebase = true
[branch]
	autosetuprebase = always
